{% extends "stockDashboard/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container text-left" id="sectionOne">
    <div class="row">
      <div class="col">
        <form id= "searchInp" action="/dashboard/", method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Script Name</label>
              <input type="text" class="form-control" id="input" name="input" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col">
        Column
      </div>
    </div>
  </div>

{% endblock %}
