/* global stylings */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
}

/* Navbar Formattings */

.navbar{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

#navbar-title{
    color: blueviolet;
    font-weight: bolder;
}

/* Body Formattings */

#sectionOne{
    margin-right: 13px;
    margin-left: 13px;
    margin-top: 15px;
}

#dashInfos{
    margin-right: 13px;
    margin-left: 13px;
    margin-top: 15px;
    padding-left: 12px;
}

#sectionTwo{
    margin-right: 13px;
    margin-left: 13px;
    margin-top: 8px;
}

.sectorP{
    font-size: small;
    margin-top: -11px;
}

#updatTime{
    /*padding-left: 8px;*/
    margin-top: -15px;
}

.lightTxt{
    font-weight: 300;
}

.nrmlTxt{
    font-weight: 400;
}

#LTPcontainer{
    font-weight: bolder;
    font-size: 4rem;
}

.addInfo{
    font-size: 2.25rem;
    font-weight: bolder;
}

.captiontext{
    font-size: small;
    margin-top: -11px;    
}

.rightSector{
    font-size: small;
    margin-top: -24px;
}